/* grid 960px */
div.interface{
	width: 960px;
	margin: -20px auto 0px auto;
}
.linha{
	width: 960px;
	margin: 0 auto;
	overflow: auto;
}
.coluna{
	padding: 0 10px;
	float: left;
}
.col1{
	width: 60px;
}
.col2{
	width: 140px;
}
.col3{
	width: 220px;
}
.col4{
	width: 300px;
}
.col5{
	width: 380px;
}
.col6{
	width: 460px;
}
.col7{
	width: 540px;
}
.col8{
	width: 620px;
}
.col9{
	width: 700px;
}
.col10{
	width: 780px;
}
.col11{
	width: 860px;
}
.col12{
	width: 940px;
}

body{
        font-family: "DejaVu Sans", "Arial", sans-serif;
        font-size: .9em;
}
	div.margem1 {
    padding: 20px;

}

	div.margem2 {
    padding: 50px;

}
img.logo2 {
      position: relative;
      left: 126%;
      width: 250px;
      height: 40px;
  }
img.logo1 {
       width: 250px;
       height: 60px;
  }

b.gray{
color: gray;

}

p.TitleGray{

text-align: center;
font-family: "DejaVu Sans Condensed Bold",serif;
font-size: 16.1px;
color: rgb(128,128,128);
font-weight: bold;
font-style: normal;
text-decoration: none;
}
p.TitleGray2{
text-align: center;
font-size: 10.1px;
color: rgb(128,128,128);
font-weight: bold;
font-style: normal;
text-decoration: none;
}

p.light{

color :gray;

}
b.alinhamento{
margin-left: 25px;
}

b.bold{

color:rgb(51,51,51);
text-shadow: -0.015em 0 transparent;
}
p.codigo{
	
	font-size: 16.1px;
	font-family: "DejaVu Sans Mono",serif;
	color: rgb(0,0,0);
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	margin-left: 160px;
}

div.campoCinza{
background-color:lightgray;width: 960px;margin: 20px auto 0px auto;
}
